.header {
    /* position: fixed; */
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1.3rem 2%;
}

.header .logo {
    font-family: 'Caveat';
    margin-left: 5rem;
    color: var(--main-color);
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
    font-weight: 450;
}

.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    position: relative;
    float: left;
}

.header .navbar ul li:hover {
    text-decoration: overline;
    cursor: pointer;
}

.header .navbar ul li a {
    padding: 0.6rem 1.2rem;
    font-size: 1.9rem;
    color: var(--main-color);
    font-weight: 400;
    display: block;
}

.header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: white;
    display: none;
    border: var(--border);
    /* border-radius: var(--border-radius); */
    padding: .8rem 0;
    transition: all 0.3 ease;
    transform: translateY(1rem);
}

.header .navbar ul li ul:hover {
    border: var(--border-hover);
    /* border-radius: var(--border-radius-hover); */
}

.header .navbar ul li ul li {
    width: 100%;
    text-align: center;
}

.header .icons div,
.header .icons a .fas {
    cursor: pointer;
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--main-color);
}

.header .icons a .fas {
    margin-right: 2rem;
}

#menu-btn {
    display: none;
}

.fa-shopping-cart {
    color: var(--main-color);
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
        opacity: 0;
    }
}






















/* media querries */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 0 2rem;
    }
}

@media (max-width: 1020px) {
    #menu-btn {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .navbar ul li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        color: var(--main-color) !important;
        padding: 1rem 2rem;
        border-bottom: 1px solid #45401b79;
    }

    .header .navbar ul li ul {
        position: relative;
        width: 100%;
        border: none;
        margin-top: 0%;
        padding-top: 0%;
        margin-bottom: 2rem;
    }

    .header .navbar ul li ul:hover {
        border: none;
        border-radius: none;
    }

    .header .navbar ul li ul li {
        text-align: left;
        color: var(--second-color);
        border: none;
        padding: 0rem 0rem;
    }

    .header .navbar ul li ul li a {
        padding-left: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .fa-shopping-cart {
        display: none;
    }

}
@media (max-width: 360px) {
    .icons > a > .join-btn{
        display: none;
    }

    .header{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}